@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="userId" name="引用ch_user表中的user_id" value="${item.userId}" underline="true"/>
                            <#input id="answerId" name="回答Id" value="${item.answerId}" underline="true"/>
                            <#input id="questionId" name="问问题id" value="${item.questionId}" underline="true"/>
                            <#input id="answerDegree" name="解决程度" value="${item.answerDegree}" underline="true"/>
                            <#input id="answerCompletion" name="完成度" value="${item.answerCompletion}" />
                </div>

                <div class="col-sm-6">
                            <#input id="answerAttitude" name="态度" value="${item.answerAttitude}" underline="true"/>
                            <#input id="answerEfficiency" name="效率" value="${item.answerEfficiency}" underline="true"/>
                            <#input id="answerEvaluation" name="评价" value="${item.answerEvaluation}" underline="true"/>
                            <#input id="answerRemake" name="" value="${item.answerRemake}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="AnswerInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="AnswerInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/myself/answer/answer_info.js"></script>
@}
